<div class="footer">
  <div class="row">
    <div class="col-1 offset-1 col-sm-2">
      <h5>Links</h5>
      <ul class="list-unstyled">
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Books</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div>
    <div class="col-7 col-sm-2">
      <h5>Headquarters</h5>
      <address>
        101-103, Trumphet Alle<br>
        Frankfurt<br>
        Germany<br>
        <i class="fa fa-phone fa-lg"></i>: +852 1234 5678<br>
        <i class="fa fa-fax fa-lg"></i>: +852 8765 4321<br>
        <i class="fa fa-envelope fa-lg"></i>:<a href="sujathakannan007@gmail.com">bibleothek@stadtbucher.de</a>
      </address>
    </div>
    <div class="col-4 col-sm-2">
      <h5><p>Follow Us on</p></h5>
      <a class="btn btn-social-icon btn-google" href="http://google.com/+"><i class="fa fa-google-plus"></i></a>
      <a class="btn btn-social-icon btn-facebook" href="http://www.facebook.com/profile.php?id="><i class="fa fa-facebook"></i></a>
      <a class="btn btn-social-icon btn-linkedin" href="http://www.linkedin.com/in/"><i class="fa fa-linkedin"></i></a>
      <a class="btn btn-social-icon btn-twitter" href="http://twitter.com/"><i class="fa fa-twitter"></i></a>
      <a class="btn btn-social-icon btn-google" href="http://youtube.com/"><i class="fa fa-youtube"></i></a>
      <a class="btn btn-social-icon" href="mailto:"><i class="fa fa-envelope-o"></i></a>
    </div>
  </div>
  <div class="row">
    <div class="offset-1">
      <p> © Copyright 2018 - Sujatha Kannan Rajesh </p>
    </div>
  </div>

</div>